# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Go workspace file
go.work
# IDE
.idea/*
.vscode/*
# Logs
logs
*.log
# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage
# production
/build
# local
.DS_Store
*.local
# dist
node_modules
dist/
# profile
.rspack-profile-*/