#leaderboard {
    border: solid 1px;
    border-collapse: collapse;
}

#leaderboard thead th {
    border: solid 1px;
    padding: 10px;
}

#leaderboard tbody td {
    border: solid 1px;
    padding: 10px;
}

#leaderboard .last {
    background-color: gold;
}