#main {
    margin: 10px auto;
    width: fit-content;
    text-align: left;
}

label {
    display: inline-block;
}

input {
    width: 120px;
    padding: 10px 15px;
    margin: auto;
    display: block;
}